.wrapper {overflow: auto;}

#main {margin-left: 216px;}

#leftsidebar {
    width: 200px; float: left;
}

#menulist {
    margin: 0;
    padding: 0;
}

.menuitem {
    background: #CDF0F6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
}



@media all and (max-width: 640px) {
    #leftsidebar {float: none; width: auto;}
    #main { float: none; margin-left: 4px;}
}

@media all and (max-width: 768px) and (min-width: 640px) {
    .menuitem {background: #E3FF00;}
    #leftsidebar {float: none; width: auto;}
    #main { float: none; margin-left: 55px;}
}

@media all and (max-width: 980px) and (min-width: 768px) {
     .menuitem {background: #FF000E;
}